// Styles for activities page - Mobile 
.page-id-50 {

    .site {

        // Top section heading, image, and intro text
        .hero-container {

            position: relative;

            h1 {

                position: absolute;
                text-align: center;
                color: $color__tab_text;
                font-size: 3rem;
                letter-spacing: 2px;
                text-transform: uppercase;
                padding: 0 0.2rem;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 60px;
                margin: auto;  
                z-index: 10; 
            }
            
            .hero-image-container {

                position: relative;

                img {
                    width: 100%;
                    vertical-align: top;
                }

                &:after {

                    content: '\A';
                    position: absolute;
                    width: 100%; height:100%;
                    top:0; left:0;
                    background:rgba(0,0,0,0.5);

                }
            }
        }

        .activities-text {

            p {
                padding: 0 0.5rem;
            }
        }

        // Tab Navigation on Activities Page
        #explore-experiences {
            
            margin: 0 auto;
            
            // Tabs on activites page for experience and explore
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                margin: 0;
                margin-bottom: 1rem;
                
                li {
                    width: 50%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                
                    a {
                        width: 100%;
                        display: block;
                        text-align: center;
                        padding: 1rem 0;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        padding: 1rem 2rem;
                        transition: all .3s ease-in-out;
                        border-bottom: 1px solid transparent;
                        font-size: 1.2em;
                    }

                    a.active {
                        background-color: $color__active_tab;
                    }

                    &:nth-of-type(2) {
                        a {
                            padding: 1rem 3rem;
                        }
                    }
                }

                li:not(.active) {
                    background-color: #182612ac;

                    
                }

                li.active {
                    background-color: $color__active_tab;

                    a {
                        color: white;
                    }
                }
            }
            
            .tab-pane { 
                display: none;
            }
            
            .tab-pane.active { 
                display: block; 
            }

            #experiences,
            #explore {
                padding-top: 100px;
                margin-top: -100px;
            }

            // Content within tabs
            section#experiences {

                p {
                    padding: 0 1rem;
                }

                // Link to gift card products on same page
                a.gift-card-btn {

                    text-decoration: none;
                    color: #fff;
                    background-color: $color__button;
                    padding: 0.7rem 1.7rem;
                    border-radius: 30px;
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    max-width: 135px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }

                // Testimonial under gift card button
                .testimonial {
                    
                    margin: 2rem 0.8rem;
                    background-color: #637368c6;
                    border-radius: 10px;
                    padding: 1rem 1.5rem;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    h4 {
                        display: none;
                    }

                    blockquote {
                        margin: 0;
                        text-align: center;
                    }

                    cite {
                        display: block;
                        text-align: center;
                        margin-top: 0.5rem;
                        font-weight: 500;
                    }
                }

                // Experience cards
                .experience-card-content,
                .gift-card-content {

                    background-color: $color__bg_offwhite;
                    padding: 0.5rem;
                    margin: 2rem 0.6rem;
                    // border: 2px solid #dcaf0b4f;
                    border-radius: 10px;
                    box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                    .card-top {

                        position: relative;

                        h3 {
                            text-align: center;
                            color: $color__tab_text;
                            font-size: 1.5em;
                            padding: 0 0.5rem;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 42px;
                            margin: auto;  
                            z-index: 10; 
                        }
                        
                        .card-image {

                            position: relative;

                            img {
                                width: 100%;
                                vertical-align: top;
                                border-radius: 10px;
                            }

                            &:after {

                                content: '\A';
                                position: absolute;
                                width: 100%; height:100%;
                                top:0; left:0;
                                background:rgba(0,0,0,0.5);
                                border-radius: 10px;

                            }
                        }
                    }

                    p {
                        font-size: 0.9em;
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                        background-color: $color__button;
                        padding: 0.7rem 1.1rem;
                        border-radius: 30px;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        text-align: center;
                        max-width: 125px;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
                    }

                } 

                // Gift card product cards
                .gift-card-section {

                    margin-top: 3rem;

                    h2 {
                        text-align: center;
                    }

                    h3#gift-card-title {
                        text-align: center;
                        height: 75px;
                    }

                    .gift-card-content {
                        
                        a#gift-card-purchase {
                            position: absolute;
                            margin-top: 0rem;
                            margin-bottom: 0rem;
                            height: 45px;
                            top: 0;
                            bottom: -25%;
                            left: 0;
                            right: 0;
                            margin: auto;
                            z-index: 100;

                        }
                    }
                }
            }

            // Explore tab section
            section#explore {

                // Intro text
                p {
                    padding: 0 1rem;
                }

                // "Local Vendors" heading
                h2 {
                    font-size: 1.8em;
                    text-align: center;
                    margin-top: 4rem;
                }

                h2#tourism-heading {
                    margin-top: 4rem;
                }

                // Container for each vendor
                .vendor-container,
                .tourism-container {

                    h3 {
                        text-align: center;
                        margin-bottom: 0;
                        margin-top: 4rem;
                        font-size: 1.3em;
                    }

                    img {
                        margin: 0 auto;
                        display: block;
                    }

                    p {

                    }
                }
            }
        }
    }
}

//Styles for activiites page - Tablet 
@media screen and (min-width: $mq__tablet) {

    .page-id-50 {

        .site {

        }
    }
}


//Styles for activiites page - desktop (sm) 
@media screen and (min-width: $mq__desktop_small) {

    .page-id-50 {

        .site {
    
        }
    }
}

//Styles for activiites page - desktop (lg) 
@media screen and (min-width: $mq__desktop_wide) {

    .page-id-50 {

        .site {
    
        }
    }
}