// Styles for activities page - Mobile 
.page-id-50 {

    .site {

        // Top section heading, image, and intro text
        .hero-container {

            position: relative;

            h1 {

                position: absolute;
                text-align: center;
                color: $color__tab_text;
                font-size: 3rem;
                letter-spacing: 2px;
                text-transform: uppercase;
                padding: 0 0.2rem;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 60px;
                margin: auto;  
                z-index: 10; 
            }
            
            .hero-image-container {

                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    vertical-align: top;
                    max-height: 100vh;
                }

                &:after {

                    content: '\A';
                    position: absolute;
                    width: 100%; height:100%;
                    top:0; left:0;
                    background:rgba(0,0,0,0.5);

                }
            }
        }

        .activities-text {

            margin: 0 auto;
            background-color: $color__bg_offwhite;

            p {
                padding: 1rem 0.5rem;
                margin:0 auto;
                text-align: center;
                font-size: 1.1em;
                max-width: 800px;
            }
        }

        // Tab Navigation on Activities Page
        #explore-experiences {
            
            margin: 0 auto;
            background: linear-gradient(180deg, $color__bg_offwhite, $color__background-body 4.5%);
            
            // Tabs on activites page for experience and explore
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                margin: 0 auto;
                margin-bottom: 1rem;
                background-color: $color__bg_offwhite;
                max-width: 900px;
                
                li {
                    width: 50%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                
                    a {
                        width: 100%;
                        display: block;
                        text-align: center;
                        padding: 1rem 0;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        padding: 1rem 2rem;
                        transition: all .3s ease-in-out;
                        border-bottom: 1px solid transparent;
                        font-size: 1.2em;
                    }

                    a.active {
                        background-color: $color__active_tab;
                    }

                    &:nth-of-type(2) {
                        a {
                            padding: 1rem 3rem;
                        }
                    }
                }

                li:not(.active) {
                    background-color: #182612ac;

                    
                }

                li.active {
                    background-color: $color__active_tab;

                    a {
                        color: white;
                    }
                }
            }
            
            .tab-pane { 
                display: none;
            }
            
            .tab-pane.active { 
                display: block; 
            }

            #experiences,
            #explore {
                padding-top: 100px;
                margin-top: -100px;
            }

            // Content within tabs
            section#experiences {

                div.experience-intro {
                    max-width: 800px;
                    margin: 0 auto;

                    p {
                        padding: 0 1rem;
                    }
                }

                // Link to gift card products on same page
                a.gift-card-btn {

                    text-decoration: none;
                    color: #fff;
                    background-color: $color__button;
                    padding: 0.7rem 1.7rem;
                    border-radius: 30px;
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    max-width: 135px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }

                // Testimonial under gift card button
                .testimonial {
                    
                    margin: 2rem auto;
                    background-color: $color__bg_offwhite;
                    border-radius: 10px;
                    padding: 1rem 1.5rem;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    max-width: 470px;

                    h4 {
                        display: none;
                    }

                    blockquote {
                        margin: 0;
                        text-align: center;
                    }

                    cite {
                        display: block;
                        text-align: center;
                        margin-top: 0.5rem;
                        font-weight: 500;
                    }
                }

                .card-container {
                    margin: 0 0.8rem;

                    // Experience and gift card cards
                    .experience-card-content,
                    .gift-card-content {

                        background-color: $color__bg_offwhite;
                        padding: 0.5rem;
                        margin: 2rem auto;
                        // border: 2px solid #dcaf0b4f;
                        border-radius: 10px;
                        box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                        max-width: 500px;

                        .card-top {

                            position: relative;

                            h3 {
                                text-align: center;
                                color: $color__tab_text;
                                font-size: 1.5em;
                                padding: 0 0.5rem;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                height: 42px;
                                margin: auto;  
                                z-index: 10; 
                            }
                            
                            .card-image {

                                position: relative;

                                img {
                                    width: 100%;
                                    vertical-align: top;
                                    border-radius: 10px;
                                }

                                &:after {

                                    content: '\A';
                                    position: absolute;
                                    width: 100%; height:100%;
                                    top:0; left:0;
                                    background:rgba(0,0,0,0.5);
                                    border-radius: 10px;

                                }
                            }
                        }

                        .experience-text-container {
                            margin: 1rem 0;

                            p {
                                font-size: 0.9em;
                                padding: 0 1rem;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: #fff;
                            background-color: $color__button;
                            padding: 0.7rem 1.1rem;
                            border-radius: 30px;
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 1rem;
                            text-align: center;
                            max-width: 125px;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
                        }

                    } 
                }

                // Gift card product cards
                .gift-card-section {

                    margin-top: 3rem;

                    h2 {
                        text-align: center;
                    }

                    p {
                        max-width: 800px;
                        text-align: center;
                        margin: 1rem auto;
                    }

                    h3#gift-card-title {
                        text-align: center;
                        height: 75px;
                    }

                    .gift-card-content {
                        
                        a#gift-card-purchase {
                            position: absolute;
                            margin-top: 0rem;
                            margin-bottom: 0rem;
                            height: 45px;
                            top: 0;
                            bottom: -25%;
                            left: 0;
                            right: 0;
                            margin: auto;
                            z-index: 100;

                        }
                    }
                }
            }

            // Explore tab section
            section#explore {

                // Intro text
                p {
                    padding: 0 1rem;
                }

                // "Local Vendors" heading
                h2 {
                    font-size: 1.8em;
                    text-align: center;
                    margin-top: 4rem;
                }

                h2#tourism-heading {
                    margin-top: 4rem;
                }

                // Container for each vendor
                .vendor-container,
                .tourism-container {

                    h3 {
                        text-align: center;
                        margin-bottom: 0;
                        margin-top: 4rem;
                        font-size: 1.3em;
                    }

                    img {
                        margin: 0 auto;
                        display: block;
                    }

                    p {

                    }
                }
            }
        }
    }
}

//Styles for activiites page - Tablet 
@media screen and (min-width: $mq__tablet) {

    .page-id-50 {

        .site {

            .hero-container {

                h1 {
                    font-size: 4em;
                    height: 110px;
                }

            }

            .activities-text {

                p {

                }
            }

            #explore-experiences {

                ul {

                    li {

                        a {

                        }
                    }
                }

                section#experiences {

                    // Intro text in experince section
                    div.experience-intro {


                    }

                    // Button at bottom of text
                    a.gift-card-btn {

                    }

                    // Testimonial card
                    .testimonial {

                    }

                    // Class for containing cards for expereinces and gift card products
                    .card-container {

                        .experience-card-content,
                        .gift-card-content {
                        
                        

                            .card-top {

                                h3 {
                                    font-size: 1.8em;
                                }

                                .card-image {

                                }
                            }

                            p {
                                
                            }

                            a {

                            }

                            &:nth-of-type(even) {
                                margin-left: 38vw;
                            }

                            &:nth-of-type(odd) {
                                margin-right: 38vw;
                            }
                        }
                    }

                    // Gift card - title, card, purchase button
                    .gift-card-section {

                        // Title for section
                        h2 {

                        }

                        // Title on gift card cards
                        h3#gift-card-title {

                        }

                        // Purchase button
                        .gift-card-content {

                            a#gift-card-purchase {

                            }
                        }
                    }
                }

                // Explore tab section
                section#explore {

                    // Intro text
                    p {

                    }

                    // "Local Vendors" heading
                    h2 {
                        
                    }

                    h2#tourism-heading {

                    }

                    // Container for each vendor
                    .vendor-container,
                    .tourism-container {

                        h3 {

                        }

                        img {
                            
                        }

                        p {

                        }
                    }
                }
            }
        }
    }
}


//Styles for activiites page - desktop (sm) 
@media screen and (min-width: $mq__desktop_small) {

    .page-id-50 {

        .site {

            .hero-container {

                h1 {
                    font-size: 4.5em;
                }

            }

            .activities-text {

                p {
                    font-size: 1.1em;
                }
            }

            #explore-experiences {

                ul {

                    li {

                        a {

                        }
                    }
                }

                section#experiences {

                    // Intro text in experince section
                    div.experience-intro {
                        p {
                            font-size: 1.1em;
                        }
                    }

                    // Button at bottom of text
                    a.gift-card-btn {

                    }

                    // Testimonial card
                    .testimonial {

                    }

                    // Class for containing cards for expereinces and gift card products
                    .card-container {

                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        margin: 0 auto;
                        max-width: 1100px;

                        .experience-card-content,
                        .gift-card-content {
                        
                            margin: 1.5rem auto;
                            position: relative;

                            .card-top {

                                h3 {

                                }

                                .card-image {

                                }
                            }

                            .experience-text-container {
                                margin-top: 2rem;
                                margin-bottom: 5rem;

                                p {
                                    font-size: 1.1em;
                                }
                            }

                            a {
                                position: absolute;
                                bottom: 10px;
                                left: 0;
                                right: 0;
                            }

                            &:nth-of-type(even) {
                                margin-left: auto;
                            }

                            &:nth-of-type(odd) {
                                margin-right: auto;
                            }
                        }
                    }

                    // Gift card - title, card, purchase button
                    .gift-card-section {

                        // Title for section
                        h2 {

                        }

                        // Title on gift card cards
                        h3#gift-card-title {

                        }

                        // Purchase button
                        .gift-card-content {

                            a#gift-card-purchase {

                            }
                        }
                    }
                }

                // Explore tab section
                section#explore {

                    // Intro text
                    p {

                    }

                    // "Local Vendors" heading
                    h2 {
                        
                    }

                    h2#tourism-heading {

                    }

                    // Container for each vendor
                    .vendor-container,
                    .tourism-container {

                        h3 {

                        }

                        img {
                            
                        }

                        p {

                        }
                    }
                }
            }
        }
    }
}

//Styles for activiites page - desktop (lg) 
@media screen and (min-width: $mq__desktop_wide) {

    .page-id-50 {

        .site {

            .hero-container {

                h1 {
                    height: 160px;
                    font-size: 5em;
                }

            }

            .activities-text {

                p {

                }
            }

            #explore-experiences {

                ul {

                    li {

                        a {

                        }
                    }
                }

                section#experiences {

                    // Intro text in experince section
                    div.experience-intro {


                    }

                    // Button at bottom of text
                    a.gift-card-btn {

                    }

                    // Testimonial card
                    .testimonial {

                    }

                    // Class for containing cards for expereinces and gift card products
                    .card-container {

                        max-width: 1400px;

                        .experience-card-content,
                        .gift-card-content {
                        
                            max-width: 600px;

                            .card-top {

                                h3 {
                                    font-size: 2.1em;
                                }

                                .card-image {

                                }
                            }

                            .experience-text-container {
                                margin-bottom: 6rem;

                                p {
                                    
                                }
                            }

                            a {

                            }
                        }
                    }

                    // Gift card - title, card, purchase button
                    .gift-card-section {

                        // Title for section
                        h2 {

                        }

                        // Title on gift card cards
                        h3#gift-card-title {

                        }

                        // Purchase button
                        .gift-card-content {

                            a#gift-card-purchase {

                            }
                        }
                    }
                }

                // Explore tab section
                section#explore {

                    // Intro text
                    p {

                    }

                    // "Local Vendors" heading
                    h2 {
                        
                    }

                    h2#tourism-heading {

                    }

                    // Container for each vendor
                    .vendor-container,
                    .tourism-container {

                        h3 {

                        }

                        img {
                            
                        }

                        p {

                        }
                    }
                }
            }
        }
    }
}