// .page-id-125 .site-main {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.page-id-125 h2 {
    text-align: center;
    padding: 50px;
    font-size: 1.25rem;
}

.page-id-125 .site-main a {
    background-color: $color__main_accent;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: $color__bg_offwhite;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: .2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    &:hover {
        background-color: $color__bg_offwhite;
        color: $color__text_main;
    }
}

.contact-hero-image {
    position: relative;
}

.page-id-125 h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-transform: uppercase;
}

@media (min-width: $mq__tablet) {
   .page-id-125 h1 {
       font-size: 3.5rem;
   }
}

.page-id-125 h2 {
    font-weight: 400;
}

.page-id-125 #contact-address {
    text-align: center;
} 

.page-id-125 label {
    text-align: left;
}

.page-id-125 input, .page-id-125 textarea {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.475);
    transition: .2s ease-in-out;
    &:focus-within {
        box-shadow: 0px 0.2em 2.5em #c4c4c4;
        transform: scale(1.025);
        outline-style: none;
    }
}

// @media (min-width: $mq__tablet) {
//     .page-id-125 input, .page-id-125 textarea {
//         width: 900px;
//     }
// }

.contact-form-container {
    background-color: #f1f2e9d6;
    padding-top: 25px;
    padding-bottom: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .2s ease-in-out;
    &:focus-within {
        box-shadow: 0px 0.2em 2.5em #c4c4c4;
        transform: scale(1.025);
    }
}

@media (min-width: $mq__tablet) {
    .contact-form-container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 100px;
        padding-right: 100px;
        background-color: #f1f2e984;
        max-width: 1000px;
        margin-top: 50px;
    }
}

@media (min-width: $mq__desktop_small) {
    .contact-form-container {
        padding-left: 200px;
        padding-right: 200px;
    }
}


// form submit button
.wpcf7-form-control.has-spinner.wpcf7-submit {
    border: none;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: .2s ease-in-out;
    &:hover {
        background-color: $color__hover_button;
    }
    &:active {
        transform: scale(.95);
    }
}

@media (min-width: $mq__tablet) {
    .wpcf7-form-control.has-spinner.wpcf7-submit {
        padding: 15px;
        max-width: 200px;
        float: right;
    }
}
