.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


// Tab Navigation on Activities Page
// ----------------------------------------------------------------------------------------------
#amenities-rates{
	
	margin: 0 auto;
  
	ul {
		list-style: none;
		padding: 0;
		
		li {
		display: inline-flex;
		
			a {
				text-decoration: none;
				color: darkgray;
				padding: 10px;
				transition: all .3s ease-in-out;
				border-bottom: 1px solid transparent;
				&:hover {
				color: gray;
				}
			}
		}
	}
	
	.nav-tab-ul .active a{ 
		color: $color__active_tab; 
		
		&:hover {
			border-color: transparent;
			background: $color__active_tab;
			color: white;
		}
	}
	
	.tab-pane { 
		display: none;
	}
	
	.tab-pane.active { 
		display: block; 
	}
}

// MOBILE NAVIGATION & HEADER
// ------------------------------------------------------------------------------------------
.site-header {
	background-color: $color__bg_green;
	display: flex;
	z-index: 10;
}

#site-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.site-branding {
	display: flex;
	align-items: center;
	padding-left: 10px;
	justify-content: center;
}

@media (min-width: $mq__desktop_small){
	.site-header {
		position: relative;
	}
}

.custom-logo {
width: 50px;
height: 50px;
margin-left: 10px;
margin-right: 25px;
}

.site-title {
	font-family: "megrim";
	font-size: 1.3rem;
	font-weight: 800;
	text-transform: lowercase;
	& a {
		text-decoration: none;
		color: $color__bg_offwhite;
	}
}

body .menu-toggle {
	background-color: transparent;
	border: none;
	padding-right: 25px;
	padding-left: 0;
} 

.main-navigation {
	width: 25%;
}
@media (min-width: 350px){
	.main-navigation {
		width: 36%;
	}
	.site-title {
		padding-left: 15px;
		font-size: 1.5;
	}
}

@media (min-width: 400px){
	.main-navigation {
		width: 40%;
	}
	.site-title {
		font-size: 1.4rem;
	}
}
@media (min-width: 475px){
	.main-navigation {
		width: 50%;
	}
	.site-title {
		font-size: 1.5rem;
	}
}

.main-navigation.toggled #primary-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100vh;
	z-index: 10;
	background-color: $color__bg_offwhite;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: left;
	padding-left: 40px;
	border-right: 1px solid	rgba(52, 51, 51, 0.201);
	& li a {
		color: $color__text_main;
		font-size: 1.25rem;
		transition: .2s ease-in;
		font-weight: 200;
		--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.1rem;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--primary-color);
    transition: 1.1s var(--ease-out-expo);
  }
  
  // 默认情况下，前条收缩，后条伸展
  // 悬浮时，后条先缩回右边，前条再伸出来
  // 松开时，前条先缩回左边，后条再伸出来

  &::before {
    transform: scaleX(0);
    transform-origin: left;
  }

  &::after {
    transform-origin: right;
    transition-delay: 0.25s;
  }
  
  &:hover {
    &::before {
      transform: scaleX(1);
      transition-delay: 0.25s;
    }

    &::after {
      transform: scaleX(0);
      transition-delay: 0s;
    }
  }
}
		&:hover {
			color: $color__main_accent;
		}
	}
}

// SUBMENU 
.main-navigation ul ul {
	display: flex;
	flex-direction: column;
	background-color: #b9bfb0;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
	& a {
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 1rem;
		padding-left: 5px;
		&:hover {
			border-radius: 0px 0px 10px 0px;
			transition: .25s ease-in-out;
			background-color: #3d7d21;
			transform: translateX(40px);
		}
	}
}



// STYLES AT FIRST WORDPRESS BREAKPOINT
@media (min-width: 600px) {
	.sub-menu .menu-item a {
		font-size: 1rem;
	}
	.site-title {
		border-bottom: solid 5px $color__main_accent;
		padding-left: 0;
	}
	.main-navigation ul ul {
		padding-left: 0px;
		padding-right: 10px;
		background-color: #1826129e;
		
	}
	.main-navigation ul ul a {
		padding-left: 0px;
		backdrop-filter: blur(1px);
	}
	.custom-logo {
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.site-header {
		position: absolute;
		width: 100%;
		background: transparent; 
	}
	.nav-menu {
		padding-right: 20px;
	}
	.main-navigation {
		width: 65%;
	}
	.menu-header-menu-container {
		padding-bottom: 7px;
	}
	.menu-header-menu-container .nav-menu a {
		padding-left: 20px;
		color: white;
		text-transform: uppercase;
		font-size: .85rem;
		transition: .2s ease-in-out;
		&:hover {
			color: $color__main_accent;
		}
	}
	.site-title a {
		color: white;
	}
}
// STYLES AT TABLET BREAKPOINT 
@media (min-width: 768px) {
	.site-title {
		font-size: 1.25rem;
		font-weight: 800;
	}
	.nav-menu {
		padding-right: 0px;
	}
	.menu-header-menu-container .nav-menu a {
		padding-left: 25px;
		text-transform: uppercase;
		font-size: 1.15rem;
		font-weight: 400;
	}
}

@media (min-width: $mq__desktop_small) {
	.site-title {
		font-size: 2rem;
		font-weight: 800;
	}
	.menu-header-menu-container {
		padding-right: 25px;
	}
	.menu-header-menu-container .nav-menu a {
		padding-left: 40px;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 400;
	}
	.sub-menu .menu-item a {
		font-size: 1.15rem;
	}
	.custom-logo {
		margin-left: 50px;
		width: 90px;
		height: 90px;
		margin-bottom: 10px;
	}
}

@media (min-width: $mq__desktop_wide) {
	.site-title {
		font-size: 3rem;
		font-weight: 800;
	}
	.custom-logo {
		width: 100px;
		height: 100px;
	}
	.menu-header-menu-container {
		padding-right: 75px;
	}
	.menu-header-menu-container .nav-menu a {
		padding-left: 25px;
		text-transform: uppercase;
		font-size: 1.75rem;
		font-weight: 400;
	}
	.sub-menu .menu-item a {
		font-size: 1.25rem;
	}
	.main-navigation {
		width: 72%;
	}
}

// FOOTER SECTION
// -------------------------------------------------------------------
.site-footer {
	background-color: $color__bg_green;
	padding-top: 50px;
	padding-bottom: 50px;
	color: $color__tab_text;
	& a {
		color: $color__tab_text;
	}
	& p {
		color: $color__tab_text;
	}
}

// SOCIAL MENU
// ------------------------------------------------------------------
#menu-social-media-menu {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	fill: $color__tab_text;
	& svg {
		width: 35px;
		height: 35px;
		margin-left: 10px;
		margin-right: 10px;
		transition: .2s ease-in-out;
		&:hover {
			fill: $color__main_accent
		}
	}
}

@media (min-width: $mq__desktop_small) {
	#menu-social-media-menu {
		display: flex;
		justify-content: flex-end;
		padding-right: 6%;
	}
	#menu-social-media-menu svg {
		margin-left: 20px;
		margin-right: 20px; 
		width: 40px;
		height: 40px; 
	}
}

// NEWSLETTER SECTION
// ------------------------------------------------------------------
@media (min-width: $mq__desktop_small) {
	form.mailpoet_form.mailpoet_form_form.mailpoet_form_php {
		max-width: 1000px;
		margin-left: 50%;
		margin-right: 5%;
	}
}

.mailpoet_submit:active {
	transition: .2s ease-in;
	transform: scale(.95);
}

.mailpoet_submit:hover {
	transition: .2s ease-in;
	background-color: $color__bg_offwhite;
}


// FOOTER NAV MENU 
// ------------------------------------------------------------------
#menu-footer-menu {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 10px 0px 25px 0px;
	transition: .2s ease-in-out;
	& li a {
		text-decoration: none;
		padding: 5px 0px 10px 0px;
		&:hover {
			color: $color__main_accent;
		}
	}
}

@media (min-width: $mq__tablet) {
	#menu-footer-menu li a {
		font-size: 20px;
	}
}


@media (min-width: $mq__desktop_small) {
	.site-footer {
		position: relative;
	}
	
	#menu-footer-menu {
		align-items: flex-start;
		position: absolute;
		top: 10%;
		left: 6%;
		z-index: 3;
		& li {
			padding-bottom: 10px;
		}
		& li a {
			font-size: 1.25rem;
		}
	}
}

.site-info {
	text-align: center;
}